name: CI

on: [push, pull_request]

jobs:
  ruby_rails_test_matrix:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [3.1, 3.2, 3.3, 4.0]
        rails: [7, 8]
        exclude:
          - ruby: 3.1
            rails: 8

    steps:
    - uses: actions/checkout@master

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Change permissions on pre-isntalled Ruby
      if: matrix.ruby == '4.0'
      run: sudo chmod +t $(ruby -e 'puts Gem.default_dir')/gems

    - run: |
        sudo apt-get update
        sudo apt-get install libsqlite3-dev
        rm -rf Gemfile.lock && bundle && rake

      env:
        RAILS_VERSION: ~> ${{ matrix.rails }}
